.content-section {
	background: #ffffff;
	padding: 18px 20px;
	margin-bottom: 20px;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.width-130{
	width: 130px;
}
.width-100{
	width: 100px;
}
