{% extends 'layout.html' %}
{% load humanize %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
<h4>Income (£{{ total_income|intcomma }})</h4>
<table class="table table-hover table-sm">
	<tbody>
		{% for category_income in categories_income %}
			<tr>
				<td class="width-130" scope="row">{{ category_income.label }}</td>
				<td class="width-100">{{ category_income.label_short }}</td>
				<td class="width-100 align-right">£{{ category_income.allowance|intcomma }}</td>
				<td></td>
				<td></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<h4>Expenditure (£{{ total_expenditure|intcomma }})</h4>
<table class="table table-hover table-sm">
	<tbody>
		{% for form in forms_expenditure %}
		<form action="{% url 'update_category' categ_id=form.instance.id %}" method="post">
			{% csrf_token %}
			<tr>
				<td class="width-130" scope="row">{{ form.label }}</td>
				<td class="width-100">{{ form.label_short }}</td>
				<td class="width-100">{{ form.allowance }}</td>
				<td><div class="col-auto">{{ form.inc_exp }}{{ form.inc_exp.label_tag }}</div></td>
				<td><input type="submit" value="Update" class="btn btn-secondary"/></td>
			</tr>
		</form>
		{% endfor %}
	</tbody>
	<!-- <tbody>
		{% for category_expenditure in categories_expenditure %}
			<tr>
				<td class="width-130" scope="row">{{ category_expenditure.label }}</td>
				<td class="width-100">{{ category_expenditure.label_short }}</td>
				<td class="width-100 align-right">£{{ category_expenditure.allowance|intcomma }}</td>
				<td></td>
				<td></td>
			</tr>
		{% endfor %}
	</tbody> -->
</table>

<table class="table table-hover table-sm">
	<form action="{% url 'add_category' %}" method="post">
		{% csrf_token %}

		{{ form_add_category.non_field_errors }}

		{{ form_add_category.source.errors }}
		{{ form_add_category.source }}

		<td class="width-130" scope="row">{{ form_add_category.label }}</td>
		<td class="width-100">{{ form_add_category.label_short }}</td>
		<td class="width-100">{{ form_add_category.allowance }}</td>
		<td><div class="col-auto">{{ form_add_category.inc_exp }}{{ form_add_category.inc_exp.label_tag }}</div></td>
		<td><input type="submit" value="Add" class="btn btn-secondary"/></td>
	</form>
</table>
{% endblock %}
