{% extends 'layout.html' %}

{% block content %}
{% for categ, value in totals.items %}
	<p>{{ categ }}: {{ value }}</p>
{% endfor %}

<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th scope="col" class="width-130">Date</th>
			<th scope="col">Item</th>
			<th scope="col">Payee</th>
			<th scope="col" class="align-center width-100">Category</th>
			<th scope="col" class="align-right width-100">Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for transaction in transactions %}
			<tr>
				<td scope="row">{{ transaction.date }}</td>
				<td>{{ transaction.item }}</td>
				<td>{{ transaction.payee }}</td>
				<td class="align-center">{{ transaction.category }}</td>
				<td class="align-right">£{{ transaction.amount }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
